@import url(reset.css);

/* ################ UTILITIES ################ */

/* IMAGE REPLACEMENT */
.ir {
	text-indent: -9999em;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* ################ STYLES ################ */

body {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

ul {
	border: solid #999;
	border-width: 0 1px;
}

li {
	list-style: none;
	border-bottom: 1px solid #999;
	padding: 5px 10px;
	font-size: 18px;
}

form {
	border: 1px solid #999;
	padding: 10px;
}

input[type=text] {
	width: 93%;
	font-size: 18px;
	border: 1px solid #333;
}

button {
	border: 0;
	background-color: transparent;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	font-size: 24px;
	padding: 0;
	line-height: 24px;
	cursor: pointer;
}

form button {
	background-image: url(../img/add.png);
}

li button {
	background-image: url(../img/tick.png);
	margin-right: 5px;
}

.touch li button:active {
	background: none;
}

label {
	display: none;
}

button.ir {
	display: inline-block;
}

.ie7 button.ir {
	display: inline;
	zoom: 1;
}